<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>servlets.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StocksServlet</servlet-name>
        <servlet-class>servlets.StocksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendChatServlet</servlet-name>
        <servlet-class>servlets.SendChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OneStockServlet</servlet-name>
        <servlet-class>servlets.OneStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileLoadServlet</servlet-name>
        <servlet-class>servlets.FileLoadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovesServlet</servlet-name>
        <servlet-class>servlets.MovesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>servlets.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>servlets.NotificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendChatServlet</servlet-name>
        <url-pattern>/pages/info/sendchat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/pages/info/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/pages/oneStock/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OneStockServlet</servlet-name>
        <url-pattern>/pages/info/onestock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovesServlet</servlet-name>
        <url-pattern>/pages/info/movesList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/pages/login/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileLoadServlet</servlet-name>
        <url-pattern>/pages/info/fileupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/pages/info/usersmap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StocksServlet</servlet-name>
        <url-pattern>/pages/info/stocksmap</url-pattern>
    </servlet-mapping>
</web-app>